<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatAPP</title>

</head>
<body>
    <div id="username-form">
        <h1> Ingrese su nombre de usuario:</h1>
        <form id ="username-form" action="/api/msg" method="POST">
        <input type="text" id="username" name="user" required>
        <input type="text" id="message" name="message" required>
        <button type="submit">Join Chat</button>
        </form>
    </div>
    <script src="/src/publics/chat.js"></script>
</body>
</html>