<h1>Listado de Productos</h1>

    {{#each products}}
<div class="tabla_productos">
<div class="productos">
<h2 class="producto_nombre">{{this.nombre}}</h2>
<br>
<p class="producto_tipo">{{this.tipo}}</p>
<br>
<p class="producto_capacidad">{{this.capacidad}}</p>
<br>
{{/each}}
</div>

</div>

