<div>
    <h1>Listados de productos</h1>
    
</div>
<div>


</div>
<form id="add-product-form">
    <label for="product-name">Nombre del Producto:</label>
    <input type="text" id="product-name" required>
    <input type="text" id="product-name" required>
    <button type="submit">Agregar Producto</button>
</form>
<script src ="/socket.io/socket.io.js"></script>
<script src ="../publics/realtimeproducts.js"></script>